In [ ]:
import pandas as pd

DADOS METEOROLÓGICOS NA REGIÃO DO CEARÁ

In [ ]:
path_dados = '/content/drive/MyDrive/AD/output/weather_data.csv'

df = pd.read_csv(path_dados, index_col="TS")
display(df)

                            RH       TAMB  GHI
TS
2024-04-10 00:00:00  95.199997  24.900000 -1.0
2024-04-10 00:01:00  95.000000  24.900000 -1.0
2024-04-10 00:02:00  95.000000  24.900000 -0.5
2024-04-10 00:03:00  95.099998  24.900000 -0.5
2024-04-10 00:04:00  95.500000  24.900000 -0.5
...                        ...        ...  ...
2024-10-14 21:21:00  85.900002  23.799999 -0.5
2024-10-14 21:22:00  85.900002  23.799999 -0.5
2024-10-14 21:23:00  86.099998  23.799999 -0.5
2024-10-14 21:24:00  86.199997  23.799999 -0.5
2024-10-14 21:25:00  86.199997  23.799999 -0.5

[224783 rows x 3 columns]

"TS" -> Data, "RH" -> Umidade relativa, "TAMB" -> Temperatura ambiente da região, "GHI" -> radiação da localização

In [ ]:
# Visualiza principais estatisticas dos dados
df.describe()

                  RH           TAMB            GHI
count  224783.000000  224783.000000  224783.000000
mean       76.238337      25.679468     233.720984
std        18.038884       4.793512     331.019706
min        30.900000       2.200000     -20.000000
25%        62.599998      23.299999      -0.500000
50%        80.199997      25.100000       0.500000
75%        93.000000      29.200001     432.500000
max       499.899994     465.100006    1417.500000



*   Filtragem de dados de Umidade relativa

In [ ]:
# Definindo limites inferior e superior para detecção de outliers
limite_inferior_rh = 0
limite_superior_rh = 100

# Visualizando limites
print(f"Limite Inferior: {limite_inferior_rh}")
print(f"Limite Superior: {limite_superior_rh}")

# Criando máscara para detecção de outliers
mascara_rh = (df['RH'] < limite_inferior_rh) | (df['RH'] > limite_superior_rh)

Limite Inferior: 0
Limite Superior: 100



*   Filtragem de dados de temperatura

In [ ]:
# Definindo limites inferior e superior para detecção de outliers
limite_inferior_tamb = df['TAMB'].quantile(0.05) * 0.85
limite_superior_tamb = df['TAMB'].quantile(0.95) * 1.15

# Visualizando limites
print(f"Limite Inferior: {limite_inferior_tamb}")
print(f"Limite Superior: {limite_superior_tamb}")

# Criando máscara para detecção de outliers
mascara_tamb = (df['TAMB'] < limite_inferior_tamb) | (df['TAMB'] > limite_superior_tamb)

Limite Inferior: 17.595000648498534
Limite Superior: 36.91499824523925

In [ ]:
# Localizando todos os outliers
outliers_total = (mascara_rh | mascara_tamb)
# Filtra os dados removendo os outiliers detectados
df_filtrado = df[~outliers_total]

# Visualizando estatisticas dos dados após filtragem
df_filtrado.describe()

                  RH           TAMB            GHI
count  217789.000000  217789.000000  217789.000000
mean       76.711924      26.228395     241.226641
std        17.959184       3.480267     333.590027
min        30.900000      17.600000     -20.000000
25%        63.099998      23.600000      -0.500000
50%        80.800003      25.200001       3.500000
75%        93.300003      29.299999     450.500000
max        99.599998      34.700001    1417.500000