In [19]:
import pandas as pd
import numpy as np

pd.set_option('display.float_format', '{:.2f}'.format)

* DADOS RELACIONADOS A FINANÇAS FUNDOS, LIQUIDEZ E RENTABILIDADE E ETC..

* Carregando e importando dados

In [21]:
# Leitura dos dados
df = pd.read_csv('/content/drive/MyDrive/AD/output/df_fiis.csv', index_col='TICKER')

# Remover colunas desnecessárias
["COTACAO_FECHAMENTO", "VALOR", "TX_GESTAO", "SOMA_YIELD_ANO_CORRENTE", "YELD"]
df = df.drop(
    columns=
     ["COTACAO_FECHAMENTO",
      "VALOR",
      "TX_GESTAO",
      "SOMA_YIELD_ANO_CORRENTE",
      "YELD"
      ]
    )

# Informações gerais dos dados
df.info()
# Visualizar dados
df

<class 'pandas.core.frame.DataFrame'>
Index: 527 entries, AAGR11 to ZIFI11
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SETOR                526 non-null    object
 1   LIQUIDEZMEDIADIARIA  480 non-null    float64
 2   PVP                  527 non-null    float64
 3   MEDIA_YIELD_12M      527 non-null    object
 4   RENTABILIDADE        527 non-null    object
 5   NUMERO_COTISTA       527 non-null    int64
 6   PATRIMONIO_LIQUIDO   527 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 32.9+ KB

,SETOR,LIQUIDEZMEDIADIARIA,PVP,MEDIA_YIELD_12M,RENTABILIDADE,NUMERO_COTISTA,PATRIMONIO_LIQUIDO
TICKER,,,,,,,
AAGR11,Outros,5250.61,0.00,1.2625,10.0613,0,0.00
AAZQ11,Outros,685569.94,0.84,1.4817,20.5712,29817,206946884.06
ABCP11,Shoppings,43676.94,0.74,0.8650,23.1464,14920,507004106.39
AFHI11,Papéis,653506.06,0.99,1.0783,11.4550,42402,424592667.11
AGRX11,Outros,206613.83,0.79,1.3467,22.9554,19257,183235232.66
...,...,...,...,...,...,...,...
YUFI11B,Outros,NaN,0.00,0.0000,0.0000,0,41701052.98
ZAGH11,Serviços Financeiros Diversos,1083.94,1.14,0.5650,-16.9743,408,80888876.47
ZAVC11,Outros,54011.11,0.82,1.2417,---,195,30880981.49
ZAVI11,Outros,77147.78,0.71,1.1767,0.9309,3332,153693067.63
ZIFI11,Fundo de Desenvolvimento,2812.50,0.34,0.0000,---,94,84201982.63

* Limpeza de dados (Removendo dados inválidos)

In [22]:
# Ajustar valores numéricos
df_filtrado = df.replace("---", np.nan)
df_filtrado[["MEDIA_YIELD_12M", "RENTABILIDADE"]] = df_filtrado[
    ["MEDIA_YIELD_12M", "RENTABILIDADE"]
].astype(float)

# Verificar se os dados estão corretos após correção
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 527 entries, AAGR11 to ZIFI11
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SETOR                526 non-null    object
 1   LIQUIDEZMEDIADIARIA  480 non-null    float64
 2   PVP                  527 non-null    float64
 3   MEDIA_YIELD_12M      524 non-null    float64
 4   RENTABILIDADE        431 non-null    float64
 5   NUMERO_COTISTA       527 non-null    int64
 6   PATRIMONIO_LIQUIDO   527 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 32.9+ KB

In [23]:
# Remover valores NaN
df_filtrado = df_filtrado.dropna()
df_filtrado.isna().sum()

# Visualizar estatisticas
df_filtrado.describe()

,LIQUIDEZMEDIADIARIA,PVP,MEDIA_YIELD_12M,RENTABILIDADE,NUMERO_COTISTA,PATRIMONIO_LIQUIDO
count,420.00,420.00,420.00,420.00,420.00,420.00
mean,840052.84,0.81,8918.66,121.62,34228.38,523511875.45
std,1732704.57,0.87,182705.51,2159.84,93931.39,936395588.96
min,2.96,0.00,0.00,-84.16,0.00,0.00
25%,21869.15,0.63,0.82,2.85,394.25,66343917.70
50%,189290.55,0.84,1.07,11.39,4185.00,196163849.47
75%,808764.21,0.95,1.27,17.51,22671.75,483432718.06
max,15913220.78,16.67,3744352.25,44259.43,1280849.00,7788648901.14

* Removendo dados nulos

In [24]:
# Remover dados nulos
# "PATRIMONIO_LIQUIDO" e "NUMERO_COTISTA" Não podem ser zero (!!)
filtro_dados_nulos = df_filtrado["PATRIMONIO_LIQUIDO"] > 0

# Filtrando dados
df_filtrado = df_filtrado[filtro_dados_nulos]

# Visualizar estatísticas após correção
df_filtrado.describe()

,LIQUIDEZMEDIADIARIA,PVP,MEDIA_YIELD_12M,RENTABILIDADE,NUMERO_COTISTA,PATRIMONIO_LIQUIDO
count,383.00,383.00,383.00,383.00,383.00,383.00
mean,846428.52,0.88,9779.89,129.27,37461.73,574086129.74
std,1785405.78,0.88,191327.29,2261.11,97765.84,965741127.33
min,2.96,0.09,0.00,-84.16,1.00,79368.95
25%,20504.69,0.69,0.81,3.30,610.00,90374708.69
50%,183886.94,0.85,1.06,11.55,5572.00,234575135.41
75%,801316.25,0.95,1.26,18.05,27451.50,593533653.78
max,15913220.78,16.67,3744352.25,44259.43,1280849.00,7788648901.14

In [25]:
# Percentual de dados removidos
((len(df_filtrado) / len(df))-1) * 100

-27.324478178368118

* Removendo dados inconsistentes (outliers)

In [26]:
# Remover outliers (PVP + YIELD + LIQUIDEZ + N COTISTAS)
filtro_outliers = (
    (df_filtrado["PVP"] < 2)
    & (df_filtrado["MEDIA_YIELD_12M"] < 2)
    & (df_filtrado["LIQUIDEZMEDIADIARIA"] > df_filtrado['LIQUIDEZMEDIADIARIA'].median())
    & (df_filtrado["NUMERO_COTISTA"] > df_filtrado['NUMERO_COTISTA'].median())
)
df_filtrado = df_filtrado[filtro_outliers]

# Visualizar estatísticas
df_filtrado.describe()

,LIQUIDEZMEDIADIARIA,PVP,MEDIA_YIELD_12M,RENTABILIDADE,NUMERO_COTISTA,PATRIMONIO_LIQUIDO
count,145.00,145.00,145.00,145.00,145.00,145.00
mean,1795958.20,0.83,1.08,14.05,91859.44,1211004297.51
std,2139032.92,0.19,0.28,9.59,142779.06,1324182627.00
min,188342.72,0.09,0.00,-21.94,6600.00,108172369.31
25%,436789.17,0.77,0.99,10.51,17348.00,369438989.60
50%,1030917.86,0.87,1.10,14.44,41202.00,741554183.50
75%,2267287.11,0.94,1.21,19.37,114786.00,1613512314.92
max,11558178.89,1.59,1.90,48.91,1280849.00,7788648901.14